* {
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;

}
body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

main {
    display: flex;
    width: 27%;
    height: 80vh;
    flex-direction: column;
    justify-content: space-around;
}
@media (max-width: 570px) {
    main {
        width: 70%;
    }
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
input {
    all: unset;
    width: 100%;
    height: 15%;
    border-radius: 5px;
    Font-size: 40px;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
section {
    display: grid;
    height: 60%;
    gap: 4%;
    padding: 4%;
    border-radius: 5px;
}


section > button {
    all: unset;
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    border-radius: 5px;
    cursor: pointer;
}
#RESET-button {
    grid-column-start: 1;
    grid-column-end:3;

}
#equal-button {
    grid-column-start: 3;
    grid-column-end: span 2;
}
footer {
    font-size: 11px; 
    text-align: center; 
}
footer a { 
    all: unset; 
    cursor: pointer;
} 
.second-container {
    display: flex;
    width: 344%;
    float: right;
    align-items: flex-end;
    justify-content: flex-end;
}
.cercle-container {
    display: flex;
    width: 30%;
    height: 15px;
    border-radius: 15px;
    padding: 2%;
}
.cercle {
    height: 100%;
    width: 20%;
    border: 5px solid black;
    border-radius: 50%;
}
span {
    font-size: 14px;
    margin-right: 10%;
}
.numbers {
    display: flex;
    justify-content: space-between;
}